@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

/* Some assumptions */
* {
   margin: 0;
   padding: 0;

   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html, body { height: auto; }
h1, h2, h3, h4, h5, h6 { font-size: 120%; color: #333;}
h2 { font-size: 125%; margin-bottom: .50em; }
p { margin: 1em 0; }

body {
   background-color: #ecf0f1;
   font: 14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: small;
   -webkit-font-smoothing: antialiased;
   text-align: center;
}

/* Gentle links */
a { color: #ff323c; text-decoration: none; }
a:hover { color: #323232; text-decoration: underline; }

/* The blog posts archive, a long list */
.posts {
   list-style-type: none;
   margin-bottom: 2em;
}

.posts li {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 2em;
}

.posts span {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 75%;
   margin-right: 1em;
}

/* Don't display date if screen is small */
@media only screen and (max-width: 400px) {
   .posts li span { display: none; }
}

main {
   font-size: 115%;
   text-align: left;
   margin: 2em auto 0.5em;
   line-height: 1.5em;
   max-width: 42em;
   padding-left: 18px;
   padding-right: 18px;
}

header a {
   font-weight: bold;
   text-decoration: none;
}

/* the website's name on the header */
.title {
   display: inline-block;
   line-height: 0.5em;
}

.title a {
   color: #e74c3c;
}

.title a:hover {
   color: #000;
}

.title {
   margin-top: .4em;
}

.meta {
   color: #aaa;
}

code,
pre {
   font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
   padding: .25em .5em;
   font-size: 75%;
   color: #bf616a;
   background-color: transparent;
   border-radius: 3px;
}
pre {
   display: block;
   margin: 0 0 14px;
   padding: 10px 20px;
   font-size: 15px;
   line-height: 1.4;
   white-space: pre;
   white-space: pre-wrap;
   word-break: break-all;
   word-wrap: break-word;
   background-color: #eee;
}
pre code {
   padding: 0;
   font-size: 80%;
   color: inherit;
   background-color: transparent;
}
.highlight {
   margin-bottom: 15px;
   border-radius: 4px;
}
.highlight pre {
   margin-bottom: 0;
}

blockquote {
   padding: 0px 18px;
   margin: 15px 0;
   border-left: 4px solid rgba(52, 73, 94, 0.85);
}

blockquote p {
   margin-bottom: 0;
   color: #666;
}

article {
   overflow: auto;
   word-wrap: break-word;
}

article ul, article ol {
   margin-left: 1.35em;
   margin-bottom: 0.7em;
}

/* Rounded corners, aligned, etc. */
article img {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   vertical-align: middle;
   page-break-inside: avoid;
}

footer {
   height: 2.5em;
}

footer #date {
   float: right;
}

footer #return,
footer #date {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin-top: 50px;
}

/* Remove the huge gap at the first paragraph */
#home p.intro {
   margin-top: 0px;
}

#footer {
   margin-top: 150px;
   padding-bottom: 100px;
}

#footer a {
   color: #444;
}

.concept {
   margin-top: 20px;
}

.term {
   margin-bottom: -10px;
}

.term-bullet {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 75%;
   margin-right: 1em;
}

.logo-sponsor {
   height: 20px;
   padding-top: 8px;
   padding-left: 5px;
}

.edit-term a {
   color: #999;
   float: right;
   font-size: 85%;
   margin-right: 10%;
}

.help {
   color: #fff;
   background-color: #999;
   margin-left: 10px;
   padding-left: 3px;
   padding-right: 3px;
   font-size: 50%;
   font-weight: bold;
}
