<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Dictionary of tech terms">
      <meta name="author" content="AND Digital and contributors">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
      <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
      <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
      <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml">
      <title>{{ page.title }}</title>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126730848-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-126730848-1');
      </script>

   </head>
   
   <body>
      <main>
         <header>
            <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
         </header>

         {{ content }}
      </main>
      <div id="footer"><a href="/about">About Techtionary.org</a> | <a href="https://github.com/and-digital/tech-definitions/">Github</a> | <a href="https://and.digital">Created by <img class="logo-sponsor" src="https://static.andigital.com/new-logos/ANDigital_LOGO_LONG_RGB_ON_WHITE.png" alt="AND Digital"></img></a></div>
   </body>
</html>
